<div class="header">
  <h3 class="text-muted">Angular Test</h3>
</div>

<div class="jumbotron">
  <span>v </span>
  <a href="#" class="link"  ng-hide="visions">{{majorModel}}</a>
  <input outpuclick  ng-blur type="text" ng-model="majorModel" ng-show="visions">
  .
  <a href="#" class="link" ng-hide="visions">{{minorModel}}</a>
  <input ng-blur type="text" ng-model="minorModel"  ng-show="visions">
  .
  <a href="#" class="link" ng-hide="visions" >{{revisionModel}}</a>
  <input ng-blur type="text" ng-model="revisionModel" ng-show="visions" >
</div>



